.contato{
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-areas: "title title title"
    "contato social links";
    grid-template-rows: auto 1fr;
    justify-content: space-between;
    align-items: center;
    
}
.contato-container{
    grid-area: contato;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.contato-title{
    font-size: 1.5rem;
}
.social-container{
    grid-area: social;
    display: flex;
    gap: 32px;
    font-size: 1.5rem;
}
.contato-item{
    display: flex;
    gap: 16px;
}
.social-item{
    width: 64px;
    height: 64px;
    display: grid;
    background-color: var(--icon-color);
    place-content: center;
    cursor: pointer;
    border: 1px solid transparent;
    

}
.social-item:hover{
    color: var(--prime-color);
    border: 1px solid var(--prime-color);
}
.link-title{
    font-size: 1.5rem;
}
.link-container{
    grid-area: links;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: right;
}
@media (max-width: 960px){
    .contato{
        max-width: 672px;
        width: 100%;
        height: 750px;
        grid-template-areas: 
            "title title title"
            "contato . link"
            "social social social";
        grid-template-rows: 100px 400px 100px;
    }
    .contato-container{
        grid-area: contato;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .link-container{
        grid-area: link;
        display: flex;
        flex-direction: column;
        gap: 32px;
        text-align: right;
    }
    .social-container{
        justify-content: center;
        place-self: start center;
        font-size: 2rem;
    }
    .social-item {
        width: 76px;
        height: 76px;
    }
}

/* MOBILE */
@media (max-width:640px){
    .contato{
        max-width: 592px;
        width: 100%;
        height: 200vh;
        display: flex;
        flex-direction: column;
        gap: 10px;
       
       
    }
    .contato-title{
        display: none;
    }
    .contato-item{
        justify-content: center;
      
    }

    .social-container{
        display: flex;
        flex-direction: column;
        place-self: center;
       
    }
    .link-container{
        gap: 3px;
        margin-bottom: 5px;
        place-self: center;
    }
}

