.menu{
    display: flex;
    gap:72px;
    font-size:1.5rem;

}
.bar{
    color: transparent;
}
.menu li{
    border-bottom: 4px solid transparent;
    transition: border-color .5s;
}
.menu li:hover{
    border-bottom: 4px solid var(--prime-color);
}
@media (max-width: 965px){
    .menu{
        margin-left: 36%;
        width: 960px;
    }

   .pag{
    display: none;
   }
   .bar{
    color: #ffff;
   }
}