.projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px;
    max-width: 1200px;
}

.card {
    width: 320px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.card:before {
    background-color: #0008;
    content: "Clique aqui para ver o projeto";
    display: block;
    color: #ffff;
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    place-content: center;
    font-weight: 700;
    transform: translateY(100%);
    transition: ease-in-out .6s;
}

.card:hover::before {
    transform: translateY(0%);
}
/* TABLET */
@media (max-width:960px){
    .projetos{
        max-width: 672px;
        height: 170vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .card-container{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 392px;
        height: 300px;
        display: flex;
        flex-direction: column;
    }    
}


/* TABLET */
@media (max-width:960px){
    .projetos{
        max-width: 672px;
        height: 170vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .card-container{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 392px;
        height: 300px;
        display: flex;
        flex-direction: column;
    }    
}

/* MOBILE */
@media (max-width:640px){
    .projetos{
        max-width: 592px;
        width: 100%;
        align-items: center;
        height: 300vh;
    }
    .card-container{
        
        
        margin-left: 15%;
        
    }
    .card{
        width: 540px;
        height: auto;
        display: flex;
        flex-direction: column;
        

    } 
    .card-container a img{
        width: 300px;
        height: 187.5px;
        margin-left: 15%;
        
    }
}