@media (max-width: 850px){
    :root{
        --space-default: 30px;
    }

main{
    grid-template-columns: 1fr;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
}
.logo{
    font-size: 20px;
    width: 150px;
}
.menu{
    display: flex;
    
    width: 100%;
    font-size: 12px;
    gap: 25px;}

.home{
    display: flex;
    flex-direction: column;    
    align-items: center;
    
}
.home__text{
    display: flex;
    justify-content: center;
    justify-content: center;
    font-size: 25px;
}
.home__name{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-mim{
    display: flex;
    flex-direction: column;
   
    
}
.section-title{
    font-size: clamp(2rem,18vw,14rem);  
}

.description__title{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.description__text{
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 100%;
    
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.skills__title{
    font-size: 2rem;
}
.skills__icons{
    display: flex;
    flex-direction: row;
    place-content: center;
    flex-wrap: wrap;
    padding: 20%;
    padding-top: 0%;
   

}
.projetos{
    display: flex;
    flex-direction: column;
}
.projetos-image{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.projetos{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.contato{
    display: flex;
    flex-direction: column;

}
.section-title-contato{
    font-size: clamp(2rem,18vw,14rem);
}
.contatos{
    display: flex;
    flex-direction: column;
}
.sub-title-contato{
    font-size: 30px;
}
.sub-title-redes{
    font-size: 30px;
}
.grupos{
    font-size: 15px;
}

}
@media (max-width: 430px ){
    :root{
        --space-default: 30px;
    }
header{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85%;
}
    .logo{
    font-size: 15px;
    width: 150px;
    }
    .menu{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 9px;
    gap: 8px;}

    .home__text{
        display: flex;
        justify-content: center;
        justify-content: center;
        font-size: 25px;
    }
    .home__name{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contato{
        display: flex;
        flex-direction: column;
        gap: 20px;
    
    }

    .sub-title-contato{
        font-size: 20px;
    }
    .sub-title-redes{
        font-size: 20px;
    }
    .grupos{
        display: flex;
        font-size: 10px;
        gap: 5px;
    }

    footer{
        font-size: 12px;
    }
    
    


}