.sobre-mim{
    display: grid;
    grid-template-areas: "title title"
    "description skills";
    max-width: 1219px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
}
.section-title{
    grid-area: title;
    text-align: center;
    font-size: clamp(2rem,18vw,14rem);
    font-weight: 700;
    background: linear-gradient(#666,#000);
    color: transparent;
    background-clip:text ;
    -webkit-background-clip: text;

}
.description{
    
    grid-area: description;
}

.description__title{
    font-size: 3rem;
    color: var(--prime-color);
}

.description__text{
    font-size: 1.5rem;
    line-height: 150%;
}
.skills{
    grid-area: skills;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.skills__title{
    font-size: 3rem;
    color: var(--prime-color);
}
.skills__icons{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.icon{
    width: 150px;
    height: 150px;
    background-color: var(--icon-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.icon i{
    font-size: 4rem;
}
.icon span{
    font-size: 1.5rem;
    font-weight: 700;
}
@media (max-width:960px){
    .sobre-mim{

        width: 100%;
        display: flex;
        flex-direction: column;   
        place-content: center;
    }
    .description{
        margin-left: 5%;
    }
    .skills{
        gap: 10px;
        margin-left: 5%;

    }
    .description__text{
        font-size: 1.5rem;
        max-width: 100%;
    }
    .skills__icons{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        max-width: 90%;



    }
    .icon{
        width: 200px;
        height: 200px;
        background-color: var(--icon-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    .icon i{
        font-size: 4rem;
    }

}

/* MOBILE */
@media (max-width:640px){
    .sobre-mim{
        max-width: 592px;
        width: 100%;
        height: 280vh;
    }
    .skills__icons{
        display: flex;
        width: 50%;
        margin-left: 20%;
        justify-content: center;
    }
    .icon{
        margin-left: 20%;
    }
}