:root{
    --prime-color:#FEDC00;
    --prime-color-light:#FEDC0055;
    --icon-color:#252525;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Ubuntu', sans-serif;
    color: #ffff;
    background-color: black;
    display: grid;
    grid-template-areas: "content";
}
header{
    height: 100px;
    place-self: start center;
    grid-area: content;
    max-width: 1200px;
    width: 100%;
    z-index: 1;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.back{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: var(--prime-color-light);
    right: 16px;
    bottom: 16px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    border: 2px solid var(--prime-color);
    opacity: .3;
    transition: opacity .5s ;
}
.back:hover{
    opacity: 1;
}
section{
    height: 100vh;
    width: 100%;

}
.home{
    background-color: black;
}


footer{
    width: 100%;
    height: 50px;
    display: grid;
    grid-area: content;
    place-self: end center;
    place-content: center;
    font-size: .9rem;
    border-top: 2px solid #ffff ;
    width: 100%;
}
@media (max-width:960px){


    header{
        width: 50%;
    }
}

/* MOBILE */
@media (max-width:640px){
  footer{
    height: 30vh;
  }

}